{
  "extends": ["stylelint-config-standard-scss", "stylelint-prettier/recommended"],
  "rules": {
    "at-rule-empty-line-before": null,
    "scss/load-partial-extension": null,
    "color-function-notation": null,
    "color-function-alias-notation": null,
    "alpha-value-notation": null,
    "no-empty-source": null,
    "media-feature-range-notation": null,
    "declaration-property-value-keyword-no-deprecated": null,
    "rule-empty-line-before": null,
    "declaration-block-no-duplicate-properties": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "keyframes-name-pattern": null,
    "declaration-empty-line-before": null,
    "custom-property-empty-line-before": null,
    "value-keyword-case": null,
    "color-hex-length": null
  }
}
