@use 'primeflex/primeflex.scss';
@use './app/styles/variables/global.scss';
@use './app/styles/themes/normal.scss';
@use './app/styles/themes/dark.scss';

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}
