@import 'primeflex/primeflex.scss';
@import 'app/styles/variables/global.scss';
@import 'app/styles/reset.scss';
@import 'app/styles/themes/dark.scss';
@import 'app/styles/themes/normal.scss';

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: (var(--primary-color));
  min-height: 100vh;
}
